html {
box-sizing: border-box;
}

*, :after, :before {
box-sizing: inherit;
}

body {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
    color: #000000;
    margin: 0;
}


/**********/
/* header */
/**********/


.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
}
@media screen and (min-width: 600px) {
    .header {
      flex-direction: row-reverse;
      padding: 20px 20px 80px 20px;
    }
}

.header__image {
    width: 100%;
}

.header__logo {
    width: 190px;
}


/*********/
/* menu **/
/*********/


.menu {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 17px;
}

.menu__checkbox {
    position: absolute;
    left: -9999px;
}

.menu__toggler {
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    .menu__toggler {
      display: none;
    }
}

.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #8FD9FB;
}
@media screen and (min-width: 600px) {
    .menu__list {
      display: flex;
      background-color: white;
    }
}

.menu__link {
    display: block;
    font-size: 16px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.menu__checkbox:checked ~ .menu__list {
        display: block;
}

@media screen and (min-width: 600px) {
    .menu__link--eseje:hover {
        color: #F1AA4C
    }

    .menu__link--texty:hover {
        color: #8FD9FB;
    }
}


/*********/
/* card */
/********/


.card {
    margin: 0 80px 40px 80px;
}
@media screen and (min-width: 600px) {
    .card {
        margin: 0;
        padding: 20px 20px 0 20px;
    }

}

.card__container {
    margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
    .card__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      margin: 0 100px 50px 100px;
      gap: 3px;
    }
}

.card__name {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    margin: 0
}

.card__author {
    text-align: right;
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 600;
    color: #DC4345;
    margin: 10px 0 20px 0
}

.card__image {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .card--texty:hover {
        background-color: rgb(143, 217, 251, 0.59);
    }
}

@media screen and (min-width: 600px) {
    .card--esej:hover {
        background-color: rgb(254, 246, 141, 0.85);
    }
}

@media screen and (min-width: 600px) {
    .card--image:hover img {
            opacity: 0.5;
        }
}


/***********/
/* footer */
/*********/


.fond__container {
    background-color: rgb(143, 217, 251, 0.80);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fond__image {
    width: 240px;
}

.fond__content {
    font-size: 14px;
    margin: 0;
}

.fond__issn {
    font-size: 14px;
    margin: 0;
}

.fond__copyright {
    font-size: 10px;
    margin-bottom: 0;
}