
/***********/
/* footer */
/*********/

.app_container.menu_open footer {
    display: none
}

@media screen and (min-width: 600px) {
    .app_container.menu_open footer {
        display: block;
    }
}

.fond__container {
    background-color: rgb(143, 217, 251, 0.80);
    padding: 25px 25px 25px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 600px) {
    .fond__container{
        padding: 25px 25px 25px 45px;
        align-items: flex-start;
        margin-left: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .fond__container{
        margin-left: 63%;
    }
}

.fond__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fond__image {
    width: 240px;
    transform: translateX(-28px);
}

.fond__content {
    font-size: 15px;
    margin: 0;
}

.fond__issn {
    font-size: 15px;
    margin: 0;
}

.fond__copyright {
    font-size: 13px;
    margin-bottom: 0;
}