
.about-kabinet__item {
    margin-top: 35px;
}

.about-kabinet__item h1 {
    font-size: 15px;
    font-weight: 410;
    /* color: #DC4345; */
    color: #014181;
    text-transform: uppercase;
    margin-bottom: 0;
}

.about-kabinet__item p {
    margin-top: 8px;
}

address {
    font-style: normal
}