
/*********/
/* card */
/********/


.card {
    margin: 0 80px 40px 80px;
    transition: background-color 0.4s ease-in-out;
    break-inside: avoid; /* Prevent items from breaking across columns */
}

@media screen and (min-width: 600px) {
    .card {
        margin: 0;
        padding: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .card {
        margin: 0;
        padding: 20px;
    }
}

.card__name {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0
}

.card__author {
    text-align: right;
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 600;
    color: #DC4345;
    margin: 10px 0 20px 0
}

.card__image {
    width: 100%;
}

.card--image img {
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

@media screen and (min-width: 600px) {
    .card--texts:hover {
        background-color: rgb(143, 217, 251, 0.40);
    }
}

@media screen and (min-width: 600px) {
    .card--essay:hover {
        background-color: rgb(254, 246, 141, 0.75);
    }
}

@media screen and (min-width: 600px) {
    .card--image:hover img {
            opacity: 0.3;
        }
}

.card__photo {
    position: relative;
    width: 100%;
}

.card__text-container {
    display: none;
}

@media screen and (min-width: 600px) {
    .card__text-container {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .card--image:hover .card__text-container {
        display: block;
        position: absolute;
        top: 5px;
        font-size: 15px;
        font-weight: 300;
        color: black;
        padding: 20px;
    }
}

.card__text-content {
    margin: 0;
}

.card__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card__container--hidden-content {
    visibility: hidden;
}