.card__container {
    margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
    .card__container {
      margin: 0 100px 50px 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .card__container {
      margin: 0 190px 50px 190px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}