html {
  box-sizing: border-box;
  }
  
  *, :after, :before {
  box-sizing: inherit;
  }
  
  body {
      font-family: Rubik;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.5;
      color: #000000;
      margin: 0;
  }